/* Navbar Main */

.nav-main {
	@include media(">desktop") {
		&__links {
			display: flex;
			justify-content: flex-end;

			> .menu-item {
				position: relative;
				display: flex;
				align-items: center;

				> a,
				.plain-menu-item {
					display: block;
					white-space: nowrap;
					padding: 0 calc(var(--main-header-gap-between-items, 1vw) / 2);
					line-height: var(--navbar-link-height);
					color: currentColor;
					transition: color var(--base-transition), font-size var(--base-transition);

					&:hover {
						color: var(--header-link-color-hover, var(--primary-color2));
					}
				}
			}
		}
	}

	.current-menu-item {
		> a {
			color: var(--header-link-color-hover, var(--primary-color2));
		}
	}
}

/* Navbar Secondary */

.nav-secondary {
	&__links {
		@include media(">desktop") {
			display: flex;
			justify-content: flex-end;
			gap: var(--navbar-gap_h, 1vw);
		}
	}

	a {
		display: block;
		white-space: nowrap;
		color: var(--header-link-color);

		&:hover {
			text-decoration: underline;
		}
	}
}
