.svg-arrow-orange-right {
	background: url("svg-sprite.svg") 99.13929070343833% 0 no-repeat;
}

.svg-arrow-orange-right-dims {
	width: 25.809px;
	height: 20.49px;
}

.svg-arrow_down {
	background: url("svg-sprite.svg") 0 0 no-repeat;
}

.svg-arrow_down-dims {
	width: 22px;
	height: 36px;
}

